<!--
    ========================================================================================================================
    ; Title: about.component.html
    ; Author: Caitlynne Johnson
    ; Bellevue University
    ; Date: 6/25/23
    ; Description: This purpose of this assignment is create new navigation and layout based on flex layout and angular materials
    ========================================================================================================================
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="./assets/stephenking-sm.jpg" height="400" />
      </div>
      <div>
        <em>
          Photo by from Stephen King's Website
          <a
            class="attribution-link"
            href="https://stephenking.com/the-author/"
            target="_blank"
            >Stephen King's Website</a
          >
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Stephen King</h1>
    <p>
      Stephen King was born in Portland, Mine in 1947. He is the second son of Donald and 
      Nellie Ruth Pillsburry King. He attended grammar school in Durham and then Lisbon Falls High school
      where he graduated in 1966. He attended the Unioversity of Maine at Orono, and graduated 
      in 1970 with a B.A in English. He married Tabitha Spruce in January of 1971 and made his
      first professional story sale ("The Glass Floor") to Startling Mystery Stories in 1967.
      Steph would write in the evenings and on the weekends to produce short stories and work on
      his novels. In 1973, his novel Carrie got accepted for publication. The sells of this novel
      allowed him to pursue writing fulltime. Since then Stephen has written several best-selling novels and 
      some that have even turned into tv adaptions and movies. 
    </p>
    <em
      >Source:
      <a
        href="https://stephenking.com/the-author/"
        target="_blank"
        class="attribution-link"
        >Stephen King Biography</a
      >
    </em>
  </div>
</div>
