  <!--
            Title: Assignment 2.4 - Routing in Action
            File Name: about.component.html
            Date: 6/4/23
            Description: About component 
        -->

        <div class="row">
            <div class="col-sm-12">
                <h4>Ludwig Von Beethoven</h4>
            </div>
        </div>
        <br /> <br />
        <hr />

        <div class="row">
            <div class="col-sm-4">
                <img src="./assets/pexels-benjamin-lehman-7325138.jpg" title="Ludwig Van Beethoven" Credit="https://www.pexels.com/photo/a-a-bronze-statue-of-ludwig-van-beethoven-7325138/" style="width: 300px"> 
            </div>

            <div class="col-sm-8">
                <p>Ludwig van Beethoven was a German composer and a predominant musical figure in the transitional period between the Classical and Romantic eras. He is widely regarded as the greatest composer who ever lived. His art reaches out to encompass the new spirit of humanism and incipient nationalist expressed in the works of Goethe and Friedrich von Schiller, his elder contemporaries in the world of literature. He was able to portray with his music the power music had to convey a philosophy of life without the aid of a spoken text. </p>
            </div>
        </div>

        <!-- Source: https://www.britannica.com/biography/Ludwig-van-Beethoven -->