<!--
    ========================================================================================================================
    ; Title: gpa.component.html
    ; Author: Caitlynne Johnson
    ; Bellevue University
    ; Date: 7/9/23
    ; Description: This purpose of this assignment is create new layouts with angular materials and flex layouts
    ========================================================================================================================
-->
{{ gpaTotal | number : "1.1-2" }}
<!--Note: the first one represents how many whole number digits we want to show.  The second 1 represents the minimum number of fractional decimals to display and the last value represents the maximum fractional decimals to display  -->
