<!--
    ========================================================================================================================
    ; Title: auth-layout.component.html
    ; Author: Caitlynne Johnson
    ; Bellevue University
    ; Date: 7/9/23
    ; Description: This purpose of this assignment is create new layouts with angular materials and flex layouts
    ========================================================================================================================
-->
<router-outlet></router-outlet>
